#inputum {
    height:50px;
    width:200px;
    font-size:30px;
    margin:0 auto;
}

#inputdois {
    height:50px;
    width:200px;
    font-size:30px;
    margin:0 auto;
}

#resultado {
    height:50px;
    width:200px;
}

#h1Texto {
    margin-left:10%;
}